{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block meta_title %}{% trans "Password required" %} | {{ django_settings.WAGTAIL_SITE_NAME }}{% endblock %}
{% block title %}{% trans "Password required" %} | {{ django_settings.WAGTAIL_SITE_NAME }}{% endblock %}

{% block content %}
<div class="container py-5">
    <form action="{{ action_url }}" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
    </form>
</div>
{% endblock %}
