{% load i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

<div class="card h-100">
    {% if event.image %}
        {% image event.image fill-1000x1000 as img %}
        <img src="{{ img.url }}" class="card-img-top" alt="{{ img.title }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
        {% if event.description %}
            {{ event.description|richtext }}
        {% endif %}
        {% if parent and event.content %}
            <a href="{% routablepageurl parent "detail" slug=event.slug %}" class="btn btn-primary stretched-link">{% trans "Read more" %}</a>
        {% endif %}
    </div>
</div>
  
