{% load i18n vicky %}

{% block pre_offcanvas %}{% endblock %}
{% block offcanvas %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        {% block pre_header %}{% endblock %}
        {% block header %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{% trans 'Close' %}"></button>
        {% block post_header %}{% endblock %}
    </div>
    {% endblock %}
    <div class="offcanvas-body">
        {% block pre_content %}{% endblock %}
        {% block content %}
        <ul class="nav flex-column">
            {% for item in settings.cms.sitesettings.header_menu.items %}
                {% unique_id "nav-item" as id %}
                {% if item.block_type == "button" %}
                    <li class="nav-item">
                        {% for button in item.value %}
                            <a class="nav-link" href="{{ button.value.button_url }}" target="{{ button.value.button_target }}">{{ button.value.label }}</a>
                        {% endfor %}
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ item.value.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ id }}">
                            {% for button in item.value.items %}
                                <a class="dropdown-item" href="{{ button.value.button_url }}" target="{{ button.value.button_target }}">{{ button.value.label }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}
        {% block post_content %}{% endblock %}
        {% block language_switch %}
            {% include "cms/includes/language_switch/compact.html" %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block end_offcanvas %}{% endblock %}
