{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Unauthorized" %} | {{ django_settings.WAGTAIL_SITE_NAME }}{% endblock %}

{% block extra_meta_tags %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block title %}{% trans "Unauthorized" %} | {{ django_settings.WAGTAIL_SITE_NAME }}{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block post_breadcrumb %}{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>{% trans "Unauthorized" %}</h1>
    <p class="lead">{% trans "You are not allowed to view this page." %}</p>
    <a href="/" class="btn btn-primary">{% trans "Back to home" %}</a>
</div>
{% endblock %}
